* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(11, 78, 143), rgb(49, 146, 164));
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 768px;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.3rem;
}

h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.btn {
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #bbb;
  transition: 100ms;
  padding: 0.5em 1em;
  font-family: inherit;
}

.btn.btn-primary {
  background-color: hsl(200, 100%, 50%);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: hsl(200, 100%, 40%);
}

.btn.btn-delete {
  align-self: center;
  background-color: hsl(0, 100%, 50%);
}

.btn.btn-delete:hover,
.btn.btn-delete:focus {
  background-color: hsl(0, 100%, 40%);
}

.btn.btn-small {
  padding: 0.25em 0.75em;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#new-task-form {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}

#new-task-form input {
  outline: none;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  padding: 0.5em 1em;
  font-family: inherit;
  transition: border-color 100ms;
}

#new-task-form input:focus {
  border-color: hsl(200, 100%, 50%);
}

#list {
  padding: 0;
  list-style-type: none;
}

.task {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  transition: 100ms;
  cursor: move;
}

/* .task div {
  display: flex;
  flex-wrap: wrap;
} */

.task.dragging {
  opacity: 0.5;
}
